[Unit]
Description=Application random log generator
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/generate_log.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
